.about-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.about-span {
    display: block;
}

.about-header {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

.about-text {
    font-size: 1.2em;
    margin: 5px 0;
}