.settings-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.settings-header {
    margin: 10px 0px 0px 0px;
    padding: 0px;
}

.settings-text {
    font-size: 1.2em;
    margin: 5px 0;
}

.settings-error {
    color: red;
}