.container {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 1em;
    max-width: 900px;
    margin: 0 auto;
}

.header {
    height: 70px;
}

.header-text {
    margin: 0.5em 0;
    font-weight: 100;
    font-size: 3em;
    display: flex;
    gap: 0.1em;
    user-select: none;
    overflow: visible;
}

.header-link-active {
    color: var(--header-active);
    text-decoration: none;
    pointer-events: none;
}

.header-link-inactive {
    color: var(--header-inactive);
    text-decoration: none;
    overflow-y: visible;
}

@keyframes animateIn {
    0% {
        max-width: 0%;
    }

    20% {
        max-width: 0%;
    }

    100% {
        max-width: 100%;
    }
}

.header-link-animate {
    animation-name: animateIn;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    overflow-x: clip;
    overflow-y: visible;
    display: inline-block;
    height: 100%;
}

.header-link-active:hover {
    text-decoration: none;
    color: var(--header-active);
}

.header-link-inactive:hover {
    text-decoration: underline;
    color: var(--header-inactive-hover);
}

.main {
    padding: 0px;
    margin: 0px;
}

.main-content {
    display: grid;
    grid-template-areas:
        "controls"
        "board"
        "numbers";
    --board-size: min(90vw, calc(100vh - 300px));
    grid-template-rows: 75px auto 75px;
    grid-template-columns: auto;
    gap: 20px;
    margin: 0 auto;
}

.footer {
    padding: 0px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    color: var(--font-color);
    user-select: none;
}

@media(min-width:768px) {
    .container {
        padding: 0 2em;
    }

    .header {
        height: 110px;
    }

    .header-text {
        font-weight: 100;
        font-size: 5em;
    }

    .main-content {
        grid-template-areas:
            "board controls"
            "board numbers";
        grid-template-rows: 1fr 2fr;
        grid-template-columns: auto 250px;
    }
}