.numbers-container {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-area: numbers;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    padding: 0.2em;
    cursor: pointer;
}

.number[disabled] {
    background: var(--disabled-colour);
}

@media(min-width:768px) {
    .numbers-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        align-self: start;
    }

    .number {
        aspect-ratio: 1 / 1;
    }
}