.grid-container {
    width: auto;
    aspect-ratio: 1;
    max-height: 60vh;

    border: 4px solid black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    user-select: none;
}

.grid-box {
    grid-column-start: calc(var(--x)+1);
    grid-row-start: calc(var(--y) +1);
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}