.tile-container {
    display: block;
    outline: 1px solid var(--border-small-colour);
    background: var(--background);
    color: var(--colour);
    cursor: pointer;
    position: relative;
}

.tile-number-container {
    font-size: 5vmin;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-note-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    font-size: 2.2vmin;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}