.tile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vmin;
    border: 1px solid grey;
    background: var(--background);
    cursor: pointer;
    aspect-ratio: 1;
}

.tile-note-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    font-size: 2vmin;
    aspect-ratio: 1;
}